:root {
  /* Primary */

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --oange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */

  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  place-items: center;
  min-height: 100dvh;
  min-height: 100vh;
  color: var(--grey-500);
}
main {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.text-c {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.logo {
  font-size: 24px;
  font-weight: 200;
}
.main-title {
  font-size: 24px;
  font-weight: 600;

  margin: 0;
}
.desc {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
}

.sections-c {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
footer {
  font-size: 12px;
  padding: 1rem;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.1rem;
  box-shadow: 1px 10px 15px 1px rgba(0, 0, 0, 20%);
  border-top: 5px solid;
  border-radius: 8px;
}

.card-1 {
  border-top-color: var(--cyan);
}

.card-2 {
  border-top-color: var(--red);
}

.card-3 {
  border-top-color: var(--oange);
}

.card-4 {
  border-top-color: var(--blue);
}

.card-desc {
  margin-block-start: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-400);
}
.card-title {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}
.icons {
  width: 70px;
  height: 70px;
  align-self: end;
}

/**/
/* note for tommorow :  */
/* 1- make the title and the description in one container .  */
/* 2- use gap or space between , between title, description and icon */
/* 3- put the same class to tilte , h2 , icon to make thing clean and simple  */
/* 4- group all card in one selector and give them the comman style and select them one by one to style the top border  */
/* 5- use gap between text-c and sections-c  */
/* 6- selec add font size and put them in variables  */
