:root {
  /* Primary */

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --oange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */

  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  place-items: center;
  min-height: 100dvh;
  min-height: 100vh;
}
main {
  padding: 2rem;
}
footer {
  font-size: 12px;
}
